.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  color: var(--j2-color-primary-text);

  &:hover {
    color: var(--j2-color-primary-text-hover);
  }
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected {
  &,
  &:hover {
    background-color: var(--j2-color-primary);
    color: white;
  }
}

.ant-dropdown-menu.j2-dropdown-slim-menu .ant-dropdown-menu-item-group-list {
  margin: 0;
}
