:global(.ant-notification-notice-title) {
  font-size: var(--j2-font-size-lg);
  font-weight: var(--j2-font-weight-strong);
  line-height: var(--j2-line-height-lg);
  color: var(--j2-color-text-heading);
}

:global(.ant-notification-notice-description) {
  font-size: var(--j2-font-size);
  line-height: var(--j2-line-height);
  color: var(--j2-color-text);
}

.messageOnly {
  :global(.ant-notification-notice-title) {
    font-weight: var(--j2-font-weight-normal);
  }
  :global(.ant-notification-notice-title) {
    margin-bottom: 0 !important;
  }
}
