.j2-input-number {
  &.ant-input-number {
    &:hover {
      .ant-input-number-handler-wrap {
        max-width: 100%;
        width: auto;
      }
    }

    .ant-input-number-handler-wrap {
      max-width: 0;
      transition: max-width 0.2s;
      .ant-input-number-handler {
        height: 50%;
        padding: 0 12px;
        color: var(--j2-color-primary);
      }

      .ant-input-number-handler-up {
        align-items: flex-end;
      }

      .ant-input-number-handler-down {
        border-block-start: none;
        align-items: flex-start;
      }
    }
  }
}
