.bordered :global(.ant-table-cell:not(.ant-table-cell-fix-left-last)) {
  border-left: none !important;
  border-right: none !important;
}

:global(.ant-table-cell) {
  vertical-align: top;
}

:global(.ant-table-bordered .ant-table-container) {
  border-right: 1px solid var(--j2-color-border-secondary);
  border-bottom: 1px solid var(--j2-color-border-secondary);
  border-radius: var(--j2-border-radius);
  overflow: hidden;

  tr {
    td:last-of-type {
      border-inline-end: none !important;
    }
  }

  tr:last-of-type:global(.ant-table-row) :global(.ant-table-cell) {
    border-bottom: none;
  }
}

:global(.ant-table-wrapper .ant-table-container)
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: var(--j2-border-radius);
  border-right: none !important;
}

:global(.ant-spin-container.ant-spin-blur) th :global(.ant-table-column-title),
:global(.ant-spin-container.ant-spin-blur) th svg {
  visibility: hidden;
}

:global(.ant-table-thead) > tr > th {
  white-space: nowrap;
}
