.bordered :global(.ant-table-cell:not(.ant-table-cell-fix-left-last)) {
  border-left: none !important;
  border-right: none !important;
}

:global(.ant-table-cell) {
  vertical-align: top;
}

:global(.ant-table-bordered .ant-table-row .ant-table-cell) {
  border-bottom: 0.5px solid var(--j2-color-border-secondary) !important;
}

:global(.ant-table-bordered .ant-table-container) {
  border-right: 0.5px solid var(--j2-color-border-secondary);
  border-bottom: 0.5px solid var(--j2-color-border-secondary) !important;
  border-radius: var(--j2-border-radius);
  overflow: hidden;

  tr {
    td:last-of-type {
      border-inline-end: none !important;
    }
  }

  tr:last-of-type:global(.ant-table-row) :global(.ant-table-cell) {
    border-bottom: none !important;
  }
}

:global(.ant-table-wrapper .ant-table-container)
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: var(--j2-border-radius);
  border-right: none !important;
}

:global(.ant-spin-container.ant-spin-blur) th {
  visibility: hidden;
}

:global(.ant-table-thead) > tr > th {
  white-space: nowrap;
  color: var(--j2-color-primary) !important;
}

.alternatingRows :global(.ant-table-tbody > tr:nth-child(even)) {
  background-color: #fafafa !important;
}
