.ag-theme-quartz.ag-custom-theme--bordered {
  --ag-header-column-resize-handle-display: block;
  --ag-header-column-resize-handle-height: 100%;
  --ag-header-column-resize-handle-width: 0.5px;
  --ag-header-column-resize-handle-color: color-mix(
    in sRGB,
    var(--ag-row-border-color),
    transparent 50%
  );

  --ag-header-column-separator-display: block;
  --ag-header-column-separator-height: 100%;
  --ag-header-column-separator-width: 0.5px;
  --ag-header-column-separator-color: color-mix(
    in sRGB,
    var(--ag-row-border-color),
    transparent 50%
  );

  --ag-cell-horizontal-border: 1px solid var(--ag-row-border-color);
}
