.bordered :global(.ant-table-cell:not(.ant-table-cell-fix-left-last)) {
  border-left: none !important;
  border-right: none !important;
}

:global(.ant-table-cell) {
  vertical-align: top;
}

:global(.ant-table-bordered .ant-table-row .ant-table-cell) {
  border-bottom: 1px solid var(--j2-color-border-secondary) !important;
}

:global(.ant-table-bordered .ant-table-container) {
  border-right: 1px solid var(--j2-color-border-secondary);
  border-bottom: 1px solid var(--j2-color-border-secondary) !important;
  border-radius: var(--j2-border-radius);
  overflow: hidden;

  tr {
    td:last-of-type {
      border-inline-end: none !important;
    }
  }

  tr:last-of-type:global(.ant-table-row) :global(.ant-table-cell) {
    border-bottom: none !important;
  }
}

:global(.ant-table-wrapper .ant-table-container)
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: var(--j2-border-radius);
  border-right: none !important;
}

:global(.ant-spin-container.ant-spin-blur) th {
  visibility: hidden;
}

:global(.ant-table-thead) > tr > th {
  white-space: nowrap;
  color: var(--j2-color-primary) !important;
}

.alternatingRows :global(.ant-table-tbody > tr:nth-child(even)) {
  background-color: #fafafa !important;
}

:global(.ant-table-column-sorters) {
  margin-right: 1rem !important;
}

/* Pagination Styles */
:global(.ant-pagination) {
  gap: var(--j2-margin-xs);
}

:global(.ant-pagination li:not(.ant-pagination-total-text)) {
  margin-inline-end: 0 !important;
}

:global(.ant-pagination-item-active) {
  background-color: var(--j2-blue-9) !important;
}

:global(.ant-pagination-item-active a) {
  color: white !important;
}

:global(.ant-pagination-prev button),
:global(.ant-pagination-next button) {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.ant-pagination-prev button):hover,
:global(.ant-pagination-next button):hover {
  background-color: var(--j2-color-bg-text-hover) !important;
}

:global(.ant-pagination-disabled button),
:global(.ant-pagination-disabled button:hover) {
  cursor: not-allowed;
  background-color: transparent !important;
  pointer-events: none;
}

:global(.ant-pagination-disabled button svg) {
  color: var(--j2-color-text-disabled) !important;
}

.jump-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.ant-pagination-options) {
  display: flex !important;
  align-items: center !important;
  gap: var(--j2-margin-xs);
  margin-inline-start: 0 !important;
}

:global(.ant-pagination-total-text) {
  color: var(--j2-color-text);
  margin-inline-end: var(--j2-margin-xs) !important;
}

:global(.ant-pagination-options-quick-jumper) {
  display: flex !important;
  align-items: center !important;
}

:global(
    .ant-pagination:not(.ant-pagination-mini)
      .ant-pagination-options-quick-jumper
  ) {
  gap: var(--j2-margin-xs);
}

:global(.ant-pagination-options-quick-jumper input) {
  margin: 0px !important;
}

:global(
    .ant-pagination.ant-pagination-mini
      .ant-pagination-options-quick-jumper
      input
  ) {
  margin-inline-start: var(--j2-margin-xs) !important;
}
